@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-neutral-50: oklch(.985 0 0);
    --color-neutral-100: oklch(.97 0 0);
    --color-neutral-200: oklch(.922 0 0);
    --color-neutral-300: oklch(.87 0 0);
    --color-neutral-400: oklch(.708 0 0);
    --color-neutral-500: oklch(.556 0 0);
    --color-neutral-600: oklch(.439 0 0);
    --color-neutral-700: oklch(.371 0 0);
    --color-neutral-800: oklch(.269 0 0);
    --color-neutral-900: oklch(.205 0 0);
    --color-neutral-950: oklch(.145 0 0);

    --shadow-*: initial;
    --inset-shadow-*: initial;
    --drop-shadow-*: initial;
    --blur-*: initial;
    --perspective-*: initial;
    --aspect-*: initial;
    --animate-*: initial;
    --ease-*: initial;
  }