@import 'tailwindcss';

@theme {
    --font-menu: Anta, sans-serif;
    --font-headline: Titillium Web, sans-serif;

    --color-hero: #a51111;
}

:root {

    --bg-state-color: var(--color-neutral-900);
    --bg-menu-color: var(--color-neutral-50);
}