@import 'tailwindcss';

@theme {
    --font-menu: Anta, sans-serif;
    --font-headline: Titillium Web, sans-serif;
    --font-regular: Titillium Web, sans-serif;

    --color-hero: #a51111;
    --color-stepper: #588FD7;

    --radius-special: 0.9rem;
}

:root {

    --bg-state-color: var(--color-neutral-900);
    --bg-menu-color: var(--color-neutral-50);
}

@layer base {
    .noscrollbar {
        scrollbar-width: none;
    }

}